@import "tailwindcss";

@theme {
  --color-primary-blue: #0085C9;
  --color-bg-pale: #A2DFFB;
  --color-bg-vivid: #5176FC;
  --color-dashboard-bg: #E2F2F8;
  --color-dashboard-outline: #D2DCF9;
  --color-early-access: #DFFEEA;
  --color-heading: #026AA2;
  --color-text-main: #030712;
}

:root {
  --background: #ffffff;
  --foreground: #030712;
  --font-sans: var(--font-satoshi), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-main);
  background-color: var(--background);
}



